<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<P>{{date}}</P> 
<P>{{title}}</P>   
<P>{{note}}</P>
{% for n in names -%}
<p>{{n}}</p>
{%- endfor %}
<p>{{duration}}</p>   
<p>{{trans}}</p>
<iframe src="static/downloaded_pdf/{{name}}.pdf#toolbar=0" frameborder="0"  width="1200px" height="1600px"></iframe>
</body>
</html>